
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default Index</title>
    <p>Hello from Default Index</p>
</head>
<body>
</body>
</html>
